ErrorDocument 404   /errors/404
ErrorDocument 403   /errors/403
ErrorDocument 500     /errors/500

Options -MultiViews

RewriteEngine on

RewriteBase /TWeb/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]