Options -MultiViews

RewriteEngine on

RewriteBase /TWeb/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-r

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]