
#avatar {
/ / filter: hue-rotate(50 deg);
}

.bottom-left {
    color: #e4e2ff;
}

span {
    color: #1FB264;
}

.info-box {
    background-color: #32334a;

}

p {
    padding-top: 20px;
}

hr {
    height: 5px;

    background: #e4e2ff;

}

th, td {
    text-align: center;
}

h1,#countUploads,#countFav {
    padding-top: 0px;
    vertical-align: middle;
}
#return{
margin: auto;
}