@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

.btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

body,i#user {
    font-family: 'Raleway', sans-serif;
}

#msg label {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

#btn-login {
    display: block;
    font-size: 20px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#logo {
    color: #dbebfb;
}

h1 {
    padding-top: 10px;
}

.fa-heart:hover, .fa-heart-o:hover {
    color: #e83e8c;
}
