.grid {
    margin-top: 10px;
    margin-left: 5px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    margin-bottom: 10px;
    background-color: #16a4de;
}

.grid-item img:hover {
    opacity: 0.7;
}

.grid-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 15px 20px;
    background-color: rgba(22, 164, 222, 0.8);
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    vertical-align: middle;
}

.grid-item img {
    display: block;
    width: 100%;
}

.grid-item .grid-item-color {
    display: none;
}

.grid-item:hover .grid-item-color {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    display: block;
}

@media only screen and (min-width: 320px) {
    .grid-sizer,
    .grid-item {
        width: 99%;
    }
}

@media only screen and (min-width: 492px) {
    .grid-sizer,
    .grid-item {
        width: 49%;
    }

    .gutter-sizer {
        width: 10px;
    }
}

@media only screen and (min-width: 816px) {
    .grid-sizer,
    .grid-item {
        width: 32.5%;
    }
}

a {
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    font-size: large;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.alert-warning {
    width: 100%;
    text-align: center;
}